.chess-block {
    width: 23vmin;
    height: 23vmin;
    background-color: gainsboro;
    display: inline-block;
    border: 1px solid;
}

.chess-block.selected {
    background-color: yellow;
}

.chess-block.can-be-move-to {
    background-color: palegreen;
    cursor: pointer;
}

.chess-block.can-be-select {
    background-color: azure;
    cursor: pointer;
}

.chess-item {
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: all;
    transition-duration: 1s;

    display: flex;
    align-items: center;
    justify-content: center;

    //svg {
    //    width: 100%;
    //    height: auto;
    ////    text {
    ////        transform: translate(40px, 202px);
    ////        font-size: 62px;
    ////        fill: #000;
    ////    }
    //}
}

.row {
    display: inline-flex;
    position: relative;
}

.chess-item.enemy {
    transform: rotate(180deg);
    /*background-color: red;*/
    color: darkred;
}

.chess-board {
    display: inline-grid;
}

.chess-item.leave {
    top: -100vh
}

.chess-item.die {
    top: -100vh
}

.chess-item.normal-none {
    top: -100vh
}

.chess-item.arrive {
    top: 0vh;
}

.chess-item.normal-display {
    top: 0vh;
}

.chess-item.hide {
    display: none;
}
