.card {
    border: black 1px solid;
    width: 8vmin;
    height: 15vmin;
    display: inline-block;
    margin: 0.5vmin;
}

.lifeZone {
    height: 5vmin;
    font-size: 4vmin;
    color: gold;
}

.cardZone {
    min-height: 19vmin;
}

.playerZone {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    border: gray 1px solid;
    background-color: aliceblue;
}

.publicZone {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    height: 23vmin;
}

.gameBoard {
    text-align: center;
}

.dead {
    font-size: 18vmin;
    color: red;
}

.button {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    width: 15vmin;
    height: 5vmin;
    font-size: 3vmin;
}

.tips{
    font-size: 2vmin;
}